<p>Yeahhhh inscrit toi mamène</p>


<form action="/" method="POST">
  <input type="text" name="first_name">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Envoyer le formulaire">
</form>